[Unit]
Description=Files
Requires=network.target
After=network.target

[Service]
User=pi
Type=forking
WorkingDirectory=/home/pi/files-prolog
ExecStart=/usr/local/bin/swipl app.pl --port=2345 --user=pi
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
