[Unit]
Description=Files
Requires=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/files-prolog
ExecStart=/usr/local/bin/swipl /home/pi/files-prolog/app.pl --no-fork
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
